# Dictionaries

dictionary work on key values pair

In [1]:
my_dictionary ={}

In [2]:
type (my_dictionary)

dict

In [3]:
len(my_dictionary)

0

In [4]:
my_dictionary ={'name': "Amin Zaidi"}
#                key   :   value

In [5]:
my_dictionary['name']

'Amin Zaidi'

In [6]:
my_dictionary['age']=21     #add value

In [7]:
my_dictionary

{'name': 'Amin Zaidi', 'age': 21}

In [8]:
del my_dictionary['age']    # deled value

In [9]:
my_dictionary

{'name': 'Amin Zaidi'}

In [10]:
my_dictionary[100]="hell pakistan"   #add value

In [11]:
my_dictionary

{'name': 'Amin Zaidi', 100: 'hell pakistan'}

In [12]:
my_dictionary={'name': 'Amin Zaidi', 100: 'hell pakistan',"age":21, 'Degree': "Master"}

In [13]:
# key ()
# values ()
# items ()

In [14]:
for k in my_dictionary.keys():
    print(k)

name
100
age
Degree

In [15]:
for m in my_dictionary.values():
    print(m)

Amin Zaidi
hell pakistan
21
Master

In [17]:
for k,m in my_dictionary.items():
    print(k,m)

name Amin Zaidi
100 hell pakistan
age 21
Degree Master

In [18]:
for n in my_dictionary.items():
    print(n)

('name', 'Amin Zaidi')
(100, 'hell pakistan')
('age', 21)
('Degree', 'Master')

In [19]:
for k in my_dictionary.keys():
    print(my_dictionary [k])

Amin Zaidi
hell pakistan
21
Master

In [22]:
for k in my_dictionary.keys():
    if my_dictionary[k]==21:
        print('u r young')
    else:
        print('not young')

not young
not young
u r young
not young

# Dictionary Function Do Yourserves

In [26]:
100 in [1,2,3,4,6,100]

True

In [30]:
'name' in my_dictionary

True

In [31]:
my_dictionary

{'name': 'Amin Zaidi', 100: 'hell pakistan', 'age': 21, 'Degree': 'Master'}

List in  List
tupple in List
dictionary in List


tupple in tupple 
List in Tupple
dictionary in tupple


dictionary in dictionary
List in dictionary
tupple in dictionary

In [32]:
my_dictionary={'name': 'Amin Zaidi', 100: 'hell pakistan',"age":21, 'Degree': "Master", 'name':"shah"}

In [33]:
my_dictionary   # two same key will not be accepte we will capture a new value

{'name': 'shah', 100: 'hell pakistan', 'age': 21, 'Degree': 'Master'}

In [37]:
a=[1,2,3,4]
b=[7,8,9]
c=[12,11,a,b]

c

[12, 11, [1, 2, 3, 4], [7, 8, 9]]

In [41]:
c[2][3]

4

In [42]:
del c[3][2]
c

[12, 11, [1, 2, 3, 4], [7, 8]]

In [43]:
alist=[11,22,33,my_dictionary]
alist

[11,
 22,
 33,
 {'name': 'shah', 100: 'hell pakistan', 'age': 21, 'Degree': 'Master'}]

In [47]:
alist[3]['Degree']

'Master'

# Dictionary in dictionary

In [49]:
adict={'name':"pakistan", 'ages':my_dictionary}
adict

{'name': 'pakistan',
 'ages': {'name': 'shah', 100: 'hell pakistan', 'age': 21, 'Degree': 'Master'}}

In [51]:
adict['ages']['Degree']

'Master'

In [52]:
a=[]
a.append({"name":"shah"})
a

[{'name': 'shah'}]