# List

In [2]:
name=[1,2,3,4,] #list
name

[1, 2, 3, 4]

In [5]:
a=['karachi',1997,12.3]
a

['karachi', 1997, 12.3]

In [19]:
name=['apple','orange','banana','mango']
#index= 0       1         2       3
name[1]

'orange'

In [18]:
fruits=['apple' ,'orange', 'mango']
fruits

['apple', 'orange', 'mango']

In [12]:
fruits.append('peach')   #add any item
fruits

['apple', 'orange', 'mango', 'apple', 'peach']

In [15]:
fruits.insert(10,'orange')  #insert  any item
fruits

['apple', 'orange', 'mango', 'apple', 'peach', 'grape', 'orange']

In [16]:
fruits.index('orange')

1

In [22]:
len(name)

TypeError: 'list' object is not callable

In [23]:
fruits.remove('apple')
fruits

['orange', 'mango']

In [26]:
del name[2]
name

['apple', 'orange', 'mango']

In [28]:
fruits[1]='peach'
fruits

['orange', 'peach']

In [29]:
fruits.count('orange')

1

In [31]:
a=[2,3,4,5,6,7,8]
a.sort
a

[2, 3, 4, 5, 6, 7, 8]

In [32]:
a=[2,3,4,5,6,7,8]
a.sort(reverse=True) # descending order
a

[8, 7, 6, 5, 4, 3, 2]

In [33]:
random=[23,4,55,67,89,34]
random.reverse()    # reverse list without sorting 
random

[34, 89, 67, 55, 4, 23]

In [34]:
b=random
b

[34, 89, 67, 55, 4, 23]

In [36]:
random.append(122)    #added item to use "append"
print(random)
print(b)

[34, 89, 67, 55, 4, 23, 122, 122]
[34, 89, 67, 55, 4, 23, 122, 122]

In [38]:
b.append('new')   #pass by reference
random

[34, 89, 67, 55, 4, 23, 122, 122, 'new', 'new']

In [39]:
c=random.copy()

In [40]:
c

[34, 89, 67, 55, 4, 23, 122, 122, 'new', 'new']

In [41]:
c.append(456)

In [42]:
c

[34, 89, 67, 55, 4, 23, 122, 122, 'new', 'new', 456]

In [43]:
random

[34, 89, 67, 55, 4, 23, 122, 122, 'new', 'new']

# pop

In [49]:
poppedElement=random.pop()   # u will return the value with the help of "pop"

In [50]:
random

[34, 89, 67, 55, 4, 23, 122]

In [51]:
poppedElement

122

In [52]:
random

[34, 89, 67, 55, 4, 23, 122]

In [53]:
newlist=[]     #make a new list mean value move to 1 list to another

In [59]:
newlist.append(random.pop())

In [60]:
newlist

[122, 23, 4]

In [61]:
random

[34, 89, 67, 55]

In [62]:
newlist

[122, 23, 4]

In [63]:
newlist.pop(2)

4

# slicing

In [112]:
alist=[10,9,8,7,6,5,4,3,2,1,['a',]]
#index=[0,1,2,3,4,5,6,7,8,9]

TypeError: 'int' object is not subscriptable

In [68]:
alist[2:5]

[8, 7, 6]

In [69]:
alist[2:]

[8, 7, 6, 5, 4, 3, 2, 1]

In [70]:
alist[:7]

[10, 9, 8, 7, 6, 5, 4]

In [71]:
alist[5:2]    #slicing not give any error , slicing goes left to right not goes right to left

[]

In [73]:
student=['asad','amir','mujahid','fahad','amin','waqar']
#index =     -6    -5       -4       -3      -2      -1

In [74]:
student[-1]

'waqar'

In [75]:
student[-5]

'amir'

In [76]:
student[-3:]

['fahad', 'amin', 'waqar']

In [78]:
student

['asad', 'amir', 'mujahid', 'fahad', 'amin', 'waqar']

In [79]:
student[-5:2]

['amir']

In [80]:
student[-5:4]

['amir', 'mujahid', 'fahad']

# Tuples

In [83]:
a=(1,2,3,4,5,6,7)  #tuples alway represent in small bricket; u will not change the value of of tuple no deled, no insert,no copy etc

In [84]:
a

(1, 2, 3, 4, 5, 6, 7)

In [85]:
a[3]

4

In [86]:
a[3]=455

TypeError: 'tuple' object does not support item assignment

In [88]:
a=1,2,3 #packing

In [89]:
a

(1, 2, 3)

In [90]:
x,y,z=a   #unpacking

In [93]:
x

1

# List in List tuple in List etc etc

In [94]:
listInlist=[1,2,3,4,['apple','orange','banana']]

In [95]:
listInlist

[1, 2, 3, 4, ['apple', 'orange', 'banana']]

In [97]:
listInlist[4]

['apple', 'orange', 'banana']

In [98]:
listInlist[4][0]

'apple'

In [99]:
listInlist[4][0]='eggs'

In [100]:
listInlist

[1, 2, 3, 4, ['eggs', 'orange', 'banana']]

In [101]:
listInlist[4][0]='apple'

In [102]:
listInlist

[1, 2, 3, 4, ['apple', 'orange', 'banana']]

In [105]:
listInlist[4].insert(0,'apple')

In [106]:
listInlist

[1, 2, 3, 4, ['apple', 'apple', 'orange', 'banana']]

In [110]:
listInlists[4].remove('apple')

NameError: name 'listInlists' is not defined

In [111]:
alist

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]